²body{
    font-family: 'Courier New', Courier, monospace;
    background-size: auto;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    size: 100;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
html{
    height: 100%;
    font-weight: bold;
}
h1 {
    color:crimson;
    height: 5%;
    text-align: center;
    font-weight: bold;
}
h3 {
    color:crimson;
    height: 50%;
    text-align: start;

}
fieldset{
    background-color:cornsilk;
    text-align:left;
    border: 0px;
}
.left , .right {
    float: left;
    margin-right: 10%;
    padding: auto;
    display: block;
}

.monbutton input [type = "button"] {
    width: auto;
    padding: 20%;
    margin: 10%;
    font-weight: bolder;
}
.monbutton{
    text-align: center;
}
#ter {
    background-color: crimson;
    color: black;
    height: 10%;
    width: 6%;
}

