h1 {
    text-align: center;
    font-size: medium;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: crimson;
}
body{
    background-color:cornsilk;
    text-align: center;
    text-decoration: crimson;
}
fieldset{
    height: 40%;
    width: 40%;
    text-align: center;
}
label {
    color:crimson;
}
#bott{
    color: crimson;
    background-color: cornsilk
}