#id0{
	margin-top: 2%;
	margin-left: 15%;
	height: 10%;
	width: 30%;
}

#rep1{
	padding: 80px;
	background-color: #333;
	margin-left: 50%;
	margin-right: 50%;
}

.container{
	width: 75%;
	height: 50%;
}

body {
	background-color: #A9EAFE;
}